*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  vertical-align: middle;
}

/* BODY */
body {
  padding: 20px;
}

/* HEADER */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__left img {
  width: 50px;
}

.header__right .info {
  display: flex;
  align-items: center;
}

.header__right .info p {
  color: yellowgreen;
}

.header__right form {
  display: flex;
  align-items: center;
}

.header__right button {
  background: yellowgreen;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  width: 80px;
  height: 30px;
  font-weight: bold;
  margin-left: 8px;
}

.header__right button:focus {
  outline: none;
}

.header__right input {
  height: 30px;
  padding: 10px;
}

.header__right input:focus {
  outline: none;
}

/* CONTROLLER */
.controller {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}

.controller__group button {
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  width: 80px;
  height: 30px;
  font-weight: bold;
  margin-right: 10px;
}

.controller__group button:focus {
  outline: none;
}

.controller__group button.blue {
  background: skyblue;
}

.controller__group button.red {
  background: orange;
}

.controller__group input {
  background: lightgreen;
  border-radius: 5px;
  border: none;
  width: 80px;
  height: 30px;
  padding: 10px;
}

.controller__group input:focus {
  outline: none;
}

.controller__num {
  padding-top: 40px;
}

/* BOX */
.box {
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.box:not(:last-child) {
  margin-bottom: 10px;
}

.box h1,
.box p {
  color: white;
}

.box input {
  border: none;
  border-radius: 5px;
  width: 120px;
  height: 30px;
  padding: 10px;
}

.box input:focus {
  outline: none;
}